@charset "UTF-8";

.home{
	position:static;
	width:100px;
	right:20px;
	height:35px;
	background-color: rgb(85, 85, 127);
	color:rgb(255,255,255);
	background-image: linear-gradient(to right, rgba(0, 127, 127, 127),rgba(0, 0, 0, 255));
	border-style:solid;
	outline-style:none;
	border-color: rgb(0,0,0);
	border-radius:65px;
	font:  15pt "Yu Gothic UI Semibold";
}

.go{
	position:static;
	width:35px;
	height:35px;
	margin:0px;
	vertical-align:center;
	color:rgb(0,0,0);
	border-style:solid;
	background-color:rgb(255,255,255);
	outline-style:none;
}

.relF{
	position:static;
	width:65px;
	height:35px;
	vertical-align:center;
	margin-left:50px;
	color:rgb(255,255,255);
	background-color:rgb(255,0,0);
	outline-style:none;
	border-radius:65px;
}

input{
	position:static;
	height:30px;
	vertical-align:bottom;
	border-style:none;
	outline-style:none;
	width:60%;
	font: 12pt "Yu Gothic UI";
}

label{
	position:staitc;
	color:rgb(255,255,255);
	border-style:none;
	outset-style:none;
	margin-left:10px;
	margin-right:50px;
	cursor:pointer;
}

body{
	margin:0px;
}

#gohere{
	height:25px;
	border-top-width:0px;
	border-left-width:10px;
	border-bottom-width:5px;
	background-color:rgb(0,60,80);
}

header{
	background-color:rgb(0,60,97);
	height:40px;
	padding: 5px 4px 4px 3px;
	border-style:solid;
	border-top-width:10px;
	border-right-width:0px;
	border-bottom-width:1px;
	border-left-width:10px;
	outline-style:none;
}